@import url('https://fonts.googleapis.com/css?family=Lobster');

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: sans-serif;
}

#sidebarcontent {
  margin: 0 auto;
  text-align: center;
}

#sidebarcontent span:before {
  content:" "; 
  display:inline-block; 
  width:1em;
}

#searchbarcontent img {
  max-height: 5px;
}

#search {
  margin: 1em auto;
  text-align: center;
}

/* #search input {
  margin: 0 auto;
} */

ul {
  padding: 0 0;
}

li {
  list-style: none;
  text-align: left;
  padding: 1em;
  border-bottom: 1px solid rgba(255,215,0,0.5);
  color: grey;
  text-align: center;
}

li:hover {
  color: black;
  background: rgba(255,215,0,0.5);
  opacity: 50%;
  cursor: pointer;
}

h1 {
  margin: 0;
  padding: 0;
  text-align: center;
}

.title {
  padding: 0.5em 0;
  background-color: gold;
  font-family: 'Lobster', cursive;
}

#menubar {
  max-height: 29px;
  margin: 0 0;
}

.title button {
  border-left: 1px solid red;
}

.title button:hover {
  cursor: pointer;
  border-left: 1px solid black;
}

#sidebar {
  background-color: white;
  overflow: scroll;
}

.title button {
  background: none;
  border: 0;
}

li.clicked {
  background: gold;
  color: black;
}

.dollarsign {
  color: red;
  margin-left: 1em;
}

footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0;
  background-color: gold;
  text-align: center;
}

footer p {
  margin: 0;
  line-height: 25px;
  font-size: 75%;
}

#titlecontent {
  display:flex;
  flex-wrap:nowrap;
  align-items:center; /* vertical align */
}

#titlecontent #headertext {
  flex-grow:1;       /* take up rest of line */
  text-align:center; /* centre text in p */
  /* Prevent line break */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#input {
  height: 2em;
  width: 90%;
  border: 1px solid rgb(196, 193, 193);
  font-size: 0.8em;
  /* text-align: center; */
}

button:focus, button:active{
  outline: none !important;
  border:1px solid gold;
  box-shadow: 0 0 10px gold;
}

#input:focus {
  outline: none !important;
  border:1px solid rgb(177, 174, 174);
  box-shadow: 0 0 10px gold;
}

ul:first-child {
  border-top: 1px solid rgba(255,215,0,0.5);
}

#git-icon {
  margin-bottom: 2em;
}